h1{
  text-align : center;
  color : white;
}
body{
  background-color : blue;
}
.dc{
  text-align: center;
}
img{
  height: 75px;
  width: 75px;
  
}
footer{
  color : white;
  text-align :center;
}
.press{
  opacity: 0.5;
  box-shadow : 0 3px 4px 0 ;
  color:blue;
  background-color: black;
}
